<div class='centered'>
    <img src='uploads/i/monthly_2015_10/banner.png' class='img-responsive' />
    <p class="text-center"><em>DAT OUGHTA DO IT</em></p>
</div>
<div class='row'>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Welcome to the YouChew Forum Archive.</p>
            <p>Inside you'll find a permanent record of more than eleven years worth of memories...good times, bad times, and everything in between.</p>
            <p>The close-knit community found in this archive continues in the form of two spiritual successors: <a href="https://ytpmania.net">YTPMania</a>, dedicated to the art of video remixing known as 'YouTube Poop', the core of this archive; and <a href="https://neoncastle.net/forum">Neon Castle</a>, a creative works hangout for old friends and newcomers alike.</p>
            <p>Thank you for visiting.</p>
            <small>-YouChew (2007-2018)</small>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Archive</div>
        <div class="list-group">
            <a href="forum/index.html" class="list-group-item">Forums</a>
            <a href="blog/1.html" class="list-group-item">Blogs</a>
            <a href="video/index.html" class="list-group-item">Videos</a>
            <a href="status/1.html" class="list-group-item">Status Updates</a>
            <a href="member/list/joined/1.html" class="list-group-item">Members</a>
            <!--a href="search.html" class="list-group-item">Search</a-->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Extras</div>
        <div class="list-group">
            <a href="extra/highest/1.html" class="list-group-item">Highest Rated Posts</a>
            <a href="extra/awards.html" class="list-group-item">Awards</a>
            <a href="extra/banners/1.html" class="list-group-item">Banners</a>
            <a href="extra/tcg.html" class="list-group-item">Trading Card Game</a>
            <a href="http://www.mediafire.com/file/n6fe6f846jzxlfx/The_Youchew_Zine_v2.pdf/file" class="list-group-item">YouChew Zine</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">External Links</div>
        <div class="list-group">
            <a href="https://neoncastle.net/forum" class="list-group-item">Neon Castle</a>
            <a href="https://ytpmania.net" class="list-group-item">YTP Mania</a>
        </div>
    </div>
</div>
